<div>
    <div class="col">
        <input type="text" #termino (keyup)="buscar(termino.value)" placeholder="Buscar artista" class="form-control">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>

<div class="artist">
    <div class="artist__thumbnail">
        <img class="artist__blur" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/rc.jpg">
        <img class="artist__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/rc.jpg">
        <div class="artist__ring"></div>
        <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
        <p>Rival Consoles</p>
        <p class="capital">Artist Radio</p>
    </div>
</div>

<div class="artist">
    <div class="artist__thumbnail">
        <img class="artist__blur" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/fp.jpg">
        <img class="artist__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/fp.jpg">
        <div class="artist__ring"></div>
        <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
        <p>Floating Points</p>
        <p class="capital">Artist Radio</p>
    </div>
</div>

<div class="artist">
    <div class="artist__thumbnail">
        <img class="artist__blur" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/md.jpg">
        <img class="artist__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/md.jpg">
        <div class="artist__ring"></div>
        <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
        <p>Mos Def</p>
        <p class="capital">Artist Radio</p>
    </div>
</div>

<div class="artist">
    <div class="artist__thumbnail">
        <img class="artist__blur" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/bbng.jpg">
        <img class="artist__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/266745/bbng.jpg">
        <div class="artist__ring"></div>
        <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
        <p>BadBadNotGood</p>
        <p class="capital">Artist Radio</p>
    </div>
</div>