<header class="d-flex flex-wrap justify-content-center py-3 m-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="assets/img/banner-ico.png" alt="" width="35" class="d-inline-block align-text-top">
        <span class="fs-4 text-light">SpotiApp</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01" routerLinkActive="active">
                <li><a class="dropdown-item" href="#" [routerLink]="['/search']">Artista</a></li>
                <li><a class="dropdown-item" href="#" [routerLink]="['/tracks']" routerLinkActive="active">Cancion</a></li>
            </ul>
        </li>
    </ul>
</header>