<!-- <div class="card-columns m-5 animated fadeIn">


    <div (click)="verArtista( item )" *ngFor="let item of items" class="card puntero">
        <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge badge-pill badge-primary">
                    {{ artista.name }}
                </span>
            </p>
        </div>
    </div>

</div> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-columns m-5 animated fadeIn">
    <div class="col" (click)="verArtista( item )" *ngFor="let item of items" class="card puntero">
        <div class="card shadow-sm">
            <img class="card-img-top" *ngIf="item.type!='track'" [src]="item.images | noimage" alt="Card image cap">
            <img class="card-img-top" *ngIf="item.type=='track'" [src]="item.album.images | noimage" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3 mt-2">
                    <!-- <div class="btn-group">
                        <button type="button" *ngFor="let artista of item.artists" class="btn btn-sm btn-outline-secondary"> {{ artista.name }}</button>
                    </div> -->
                    <small *ngFor="let artista of item.artists " class=" text-muted mt-0 "> {{ artista.name }}</small>
                </div>
            </div>
        </div>
    </div>
</div>